.layout {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  // flex-direction: column;
}
.message-field {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: fit-content;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  margin-right: 50px;
}

.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.message-sender {
  color: gray;
  font-size: 14px;
}
.list-chat {
  width: 35%;
  height: 470px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: lightslategrey;
}
.chat-content {
  width: 65%;
  height: 520px;
}

h1 {
  text-align: center;
}
.header {
  background-color: mediumaquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-del {
  display: none;
  margin: 0 auto;
}
.MuiListItem-root:hover .btn-del {
  display: inline-block;
}

.MuiListItemIcon-root a {
  display: flex;
}
